@import url("normalize.css");

:root {
  --lightgreen: rgba(0, 200, 0, 0.8);
  --darkgreen: rgba(0, 100, 0, 0.8);
  --lightyellow: rgba(255, 255, 0, 0.8);
  --darkyellow: rgba(220, 220, 0, 0.7);
  --white: rgba(255, 255, 255, 0.8);
  --grey: rgba(255, 255, 255, 0.3);
}

body {
  background-color: var(--lightgreen);
  font-family: "Lora", serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 5vh;
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

main {
  height: 85vh;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.gameboard {
  background-color: var(--lightyellow);
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
.tile {
  background-color: var(--darkgreen);
}
.turn {
  text-align: center;
  padding: 20px;
}
.x {
  background: url(./img/close.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.o {
  background: url(./img/o.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  height: 5vh;
  padding-top: 50px;
  text-align: center;
}
